/* Utility class*/
.grid{
  display: grid;
}

.grid-flow-column{
  grid-auto-flow: column;
}

.grid-col2{
  grid-template-columns: 1fr 1fr;
}

.gap-16{
  gap: 16px;
}

.card{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(180deg, transparent 0% , #020617 100%);

  }
}

